@using MessageBoard.Models
@using Microsoft.AspNetCore.Http;
@model MessageBoard.Models.Thread

<div>
  <h1 class="display-4">@Html.DisplayFor(model => model.Title)</h1>
  <ul>
    @if (Model.Posts.Count == 0)
    {
      <li>No posts added</li>
    }
    else
    {
      @foreach (Post post in Model.Posts)
      {
        <li>
          <table>
            <tr>
              <th>@Html.ActionLink($"{post.Author}", "Details", "Post", new { id = @post.PostId, threadId = @post.ThreadId }) @post.DateCreated</th>
            </tr>
            <tr>
              <td> @post.Message</td>
            </tr>
          </table>
          
        </li>
      }
    }
  </ul>

  <div class="nav-bot">
    @Html.ActionLink("Reply", "Create", "Post", new {id = Model.ThreadId} )
    @if(Model.UserId == Context.Session.GetString("userId"))
    {
    @Html.ActionLink("Edit Thread", "Edit", new { id = Model.ThreadId})
    @Html.ActionLink("Delete Thread", "Delete", "Thread", new {id = Model.ThreadId} )
    }
  </div>
</div>
